<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427920189318-0p0rob0jjm3fcuvh9lkju2rn3r9063mv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427920189318-0p0rob0jjm3fcuvh9lkju2rn3r9063mv</string>
	<key>API_KEY</key>
	<string>AIzaSyA_1lZFGmdqUgcceZJ0rTmP0Y0ftjWLOV0</string>
	<key>GCM_SENDER_ID</key>
	<string>427920189318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.edu.tdc.project</string>
	<key>PROJECT_ID</key>
	<string>librarymanagement-63235</string>
	<key>STORAGE_BUCKET</key>
	<string>librarymanagement-63235.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427920189318:ios:d0ad4802b4c52817a92e07</string>
	<key>DATABASE_URL</key>
	<string>https://librarymanagement-63235-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>